*.patch
env.sh
.wercker
mark/*
*.fpr
*/target/*
*~
*#
.#*
**/webapp/WEB-INF/lib/*
**/*.iml
*.iml
**/configfwkdebug.xml
**/.idea
.idea
target/*
target
**/.classpath
**/.project
**/velocity.log*
.classpath
.project
.settings
**/.settings
**/.settings/*
.pydevproject
*.log
cwallet*
**ewallet.*
*.class
pom.xml.versionsBackup
version-env.sh
version-update.sh
.flattened-pom.xml
release.properties
.mvn/maven.config
.mvn/java.config
**/*GeneratedTest.java
**/*GeneratedTest.java.tmp
**/nbactions.xml
**/install-helper-test-tmp/*
**/.DS_Store
dependency-reduced-pom.xml
*.ipr
*.iws
docs-source/docs
