<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Copyright (c) 2019, 2020, Oracle Corporation and/or its affiliates.
     Licensed under the Universal Permissive License v 1.0 as shown at
     https://oss.oracle.com/licenses/upl.-->
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee web-app_2_4.xsd" version="2.4">
	
  <servlet>
    <servlet-name>StickySessionCounterServlet</servlet-name>
    <servlet-class>apps.stickysessionapp.StickySessionCounterServlet</servlet-class>
  </servlet>
	
  <servlet-mapping>
    <servlet-name>StickySessionCounterServlet</servlet-name>
    <url-pattern>/StickySessionCounterServlet</url-pattern>
  </servlet-mapping>
</web-app>
