  <domain xmlns="http://xmlns.oracle.com/weblogic/domain" xmlns:f="http://xmlns.oracle.com/weblogic/domain-fragment" xmlns:s="http://xmlns.oracle.com/weblogic/situational-config">
    <server>
    <name>admin-server</name>
    <network-access-point>
      <name>T3Channel</name>
      <public-address f:combine-mode="replace">${secret:customsitdomain-t3publicaddress.hostname}</public-address>
    </network-access-point>
  </server>
  </domain>
  