<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Copyright (c) 2019, 2020, Oracle Corporation and/or its affiliates.
     Licensed under the Universal Permissive License v 1.0 as shown at
          https://oss.oracle.com/licenses/upl.-->
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi ="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>Test Web Service Web Application</display-name>
  <distributable/>
  <servlet>
    <description>Servlet that returns managed server host and ip info</description>
    <servlet-name>testwsapp</servlet-name>
    <servlet-class>
      apps.testwsapp.TestWSAppServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testwsapp</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
</web-app>
