# Copyright (c) 2018, 2020, Oracle Corporation and/or its affiliates.
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl.

{{ if .Values.createRBAC }}
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1beta1
metadata:
  name: {{ template "apache.fullname" . }}
  labels:
    weblogic.resourceVersion: "loadbalancer-v2"
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ template "apache.fullname" . }}
subjects:
- kind: ServiceAccount
  name: {{ template "apache.serviceAccountName" . }}
  namespace: {{ .Release.Namespace | quote }}
{{ end }}
