# Copyright 2018, 2019, Oracle Corporation and/or its affiliates.  All rights reserved.
# Licensed under the Universal Permissive License v 1.0 as shown at http://oss.oracle.com/licenses/upl.

kind: Deployment
apiVersion: extensions/v1beta1
metadata:
  name: {{ template "apache.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ template "apache.fullname" . }}
    weblogic.resourceVersion: "loadbalancer-v2"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ template "apache.fullname" . }}
      weblogic.resourceVersion: "loadbalancer-v2"
  template:
    metadata:
      labels:
        app: {{ template "apache.fullname" . }}
        weblogic.resourceVersion: "loadbalancer-v2"
    spec:
      serviceAccountName: {{ template "apache.serviceAccountName" . }}
      terminationGracePeriodSeconds: 60
{{- if or (and (.Values.virtualHostName) (.Values.customCert)) (.Values.volumePath) }}
      volumes:
{{- end }}
{{- if and (.Values.virtualHostName) (.Values.customCert) }}
      - name: serving-cert
        secret:
          defaultMode: 420
          secretName: {{ template "apache.fullname" . }}-cert
{{- end }}
{{- if .Values.volumePath }}
      - name: {{ template "apache.fullname" . }}
        hostPath:
          path: {{ .Values.volumePath | quote }}
{{- end }}
      containers:
      - name: {{ template "apache.fullname" . }}
        image: {{ .Values.image | quote }}
        imagePullPolicy: {{ .Values.imagePullPolicy | quote }}
{{- if or (and (.Values.virtualHostName) (.Values.customCert)) (.Values.volumePath) }}
        volumeMounts:
{{- end }}
{{- if and (.Values.virtualHostName) (.Values.customCert) }}
        - name: serving-cert
          mountPath: "/var/serving-cert"
{{- end }}
{{- if .Values.volumePath }}
        - name: {{ template "apache.fullname" . }}
          mountPath: "/config"
{{- end }}
{{- if or (not (.Values.volumePath)) (.Values.virtualHostName) }}
        env:
{{- end }}
{{- if not (.Values.volumePath) }}
          - name: WEBLOGIC_CLUSTER
            value: "{{ .Values.domainUID | replace "_" "-" | lower }}-cluster-{{ .Values.clusterName | replace "_" "-" | lower }}:{{ .Values.managedServerPort }}"
          - name: LOCATION
            value: {{ .Values.location | quote }}
          - name: WEBLOGIC_HOST
            value: "{{ .Values.domainUID | replace "_" "-" | lower }}-{{ .Values.adminServerName | replace "_" "-" | lower }}"
          - name: WEBLOGIC_PORT
            value: {{ .Values.adminPort | quote }}
{{- end }}
{{- if .Values.virtualHostName }}
          - name: VIRTUAL_HOST_NAME
            value: {{ .Values.virtualHostName | quote }}
{{- if .Values.customCert }}
          - name: SSL_CERT_FILE
            value: "/var/serving-cert/tls.crt"
          - name: SSL_CERT_KEY_FILE
            value: "/var/serving-cert/tls.key"
{{- end }}
{{- end }}
        readinessProbe:
          tcpSocket:
            port: 80
          failureThreshold: 1
          initialDelaySeconds: 10
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 2
        livenessProbe:
          tcpSocket:
            port: 80
          failureThreshold: 3
          initialDelaySeconds: 10
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 2
