# Copyright 2018, 2019, Oracle Corporation and/or its affiliates.  All rights reserved.
# Licensed under the Universal Permissive License v 1.0 as shown at http://oss.oracle.com/licenses/upl.

apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ template "apache.serviceAccountName" . }}
  namespace: {{ .Release.Namespace | quote }}
  labels:
    weblogic.resourceVersion: "loadbalancer-v2"
