# Copyright (c) 2024 Oracle and/or its affiliates. All rights reserved.
# Licensed under the GNU General Public License Version 3 as shown at https://www.gnu.org/licenses/gpl-3.0.txt.

environments:
  - environment-name: myenvironment
    globals:
      version: 1.7
    modules:
      - module: kubernetes
        name: mycluster
        args:
          restrict-service-externalip: false
