# Copyright (c) 2018, 2021, Oracle and/or its affiliates.
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl.

# When a user installs the WebLogic operator Helm chart, the user can set
# elkIntegrationEnabled to true in their values.yaml to tell the operator to send the
# contents of the operator's log to Elasticsearch.
#
# Typically, a user would have already configured Elasticsearch and Kibana in the
# Kubernetes cluster, and also would specify elasticSearchHost and elasticSearchPort
# in their values.yaml file to point to where Elasticsearch is already running.
#
# This sample configures the Elasticsearch and Kibana deployments and services.
# It's useful for trying out the operator in a Kubernetes cluster that doesn't already
# have them configured.
#
# It runs Elasticstack on the same host and port that the operator's Helm chart defaults
# to, therefore, the customer only needs to set elkIntegrationEnabled to true in their
# values.yaml file.
#
# To configure them, use:
#   kubectl apply -f kubernetes/samples/scripts/elasticsearch_and_kibana.yaml
#
# To remove them, use:
#   kubectl delete -f kubernetes/samples/scripts/elasticsearch_and_kibana.yaml

---
apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: "default"
  name: "elasticsearch"
  labels:
    app: "elasticsearch"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: "elasticsearch"
  template:
    metadata:
      labels:
        app: "elasticsearch"
    spec:
      initContainers:
      - name: set-vm-max-map-count
        image: busybox
        imagePullPolicy: IfNotPresent
        command: ['sysctl', '-w', 'vm.max_map_count=262144']
        securityContext:
          privileged: true
      containers:
      - name: "elasticsearch"
        image: "elasticsearch:6.8.0"
        ports:
        - containerPort: 9200
        - containerPort: 9300
        env:
        - name: ES_JAVA_OPTS
          value: -Xms1024m -Xmx1024m

---
kind: "Service"
apiVersion: "v1"
metadata:
  namespace: "default"
  name: "elasticsearch"
spec:
  ports:
  - name: "http"
    protocol: "TCP"
    port: 9200
    targetPort: 9200
  - name: "https"
    protocol: "TCP"
    port: 9300
    targetPort: 9300
  selector:
    app: "elasticsearch"

---
apiVersion: "apps/v1"
kind: "Deployment"
metadata:
  namespace: "default"
  name: "kibana"
  labels:
    app: "kibana"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: "kibana"
  template:
    metadata:
      labels:
        app: "kibana"
    spec:
      containers:
      - name: "kibana"
        image: "kibana:6.8.0"
        ports:
        - containerPort: 5601

---
apiVersion: "v1"
kind: "Service"
metadata: 
  namespace: "default"
  name: "kibana"
  labels: 
    app: "kibana"
spec: 
  type: "NodePort"
  ports:
    - port: 5601
  selector: 
    app: "kibana"
