apiVersion: v1
kind: Pod
metadata:
  labels:
    run: rcu
  name: rcu
  namespace: %NAMESPACE%
spec:
  containers:
  - args:
    - sleep
    - infinity
    image: container-registry.oracle.com/middleware/fmw-infrastructure:12.2.1.3
    imagePullPolicy: IfNotPresent
    name: rcu
  %WEBLOGIC_IMAGE_PULL_SECRET_PREFIX%imagePullSecrets:
  %WEBLOGIC_IMAGE_PULL_SECRET_PREFIX%- name: %WEBLOGIC_IMAGE_PULL_SECRET_NAME%
