# Copyright 2018, Oracle Corporation and/or its affiliates.  All rights reserved.
# Licensed under the Universal Permissive License v 1.0 as shown at http://oss.oracle.com/licenses/upl.

name: weblogic-operator
version: 2.1
description: Helm chart for configuring the WebLogic operator.