# Copyright (c) 2018, 2023, Oracle and/or its affiliates.
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl.

apiVersion: v1
name: weblogic-operator
description: Helm chart for configuring the WebLogic operator.

type: application
version: 4.2.0-RELEASE-MARKER
appVersion: 4.2.0-RELEASE-MARKER
