# Copyright 2018 Oracle Corporation and/or its affiliates.  All rights reserved.
# Licensed under the Universal Permissive License v 1.0 as shown at http://oss.oracle.com/licenses/upl.

# serviceAccount specifies the name of the service account that the operator will use to
# make requests to the Kubernetes API server.
# The name must be lowercase
serviceAccount: "default"

# domainNamespaces specifies list of WebLogic Domain namespaces which the operator manages
# The names must be lowercase.
# The customer is responsible for creating these namespaces.
#
# Example : In the configuration below, the helm installation will manage namespace1 and namespace2.
#
# domainNamespaces:
#   - namespace1
#   - namespace2
domainNamespaces: [ "default" ]

# image specifies the docker image containing the operator code.
image: "weblogic-kubernetes-operator:1.1"

# imagePullPolicy specifies the image pull policy for the operator docker image.
imagePullPolicy: "IfNotPresent"

# imagePullSecrets contains an optional list of Kubernetes secrets, in the operator's namepace,
# that are needed to access the registry containing the operator Docker image.
# If no secrets are required, then omit this property.
#
# Example : a secret is needed, and has been stored in 'my-operator-secret'
#
# imagePullSecrets:
# - name: my-operator-secret
#
# imagePullSecrets:
# - name:

# externalRestEnabled controls whether the the operator's REST interface is exposed
# outside of the Kubernetes cluster on the port specified by the 'externalRestHttpsPort'
# property.
#
# If set to true, then the customer provide the SSL certificate and private key for
# the operator's external REST intervace by specifying the 'externalOperatorCert' and
# 'externalOperatorKey' properties.
externalRestEnabled: false

# externalRestHttpsPort specifies the node port that should be allocated for the external operator REST https interface.
# This parameter is required if 'externalRestEnabled' is true.
# Otherwise, it is ignored.
externalRestHttpsPort: 31001

# The customer supplied certificate to use for the external operator REST
# https interface.  The value must be a string containing a base64 encoded PEM certificate.
# This parameter is required if 'externalRestEnabled' is true.
# Otherwise, it is ignored.
#externalOperatorCert:

# The customer supplied private key to use for the external operator REST
# https interface.  The value must be a string containing a base64 encoded PEM key.
# This parameter is required if 'externalRestEnabled' is true.
# Otherwise, it is ignored.
#externalOperatorKey:

# remoteDebugNodePortEnabled specifies whether or not the operator will start a Java remote debug server on the
# provided port and suspend execution until a remote debugger has attached.
# The 'internalDebugHttpPort' property controls the port number inside the Kubernetes
# cluster and the 'externalDebugHttpPort' property controls the port number outside
# the Kubernetes cluster.
remoteDebugNodePortEnabled: false

# internalDebugHttpPort specifes the port number inside the Kubernetes cluster for the operator's Java
# remote debug server.
# This parameter is required if 'remoteDebugNodePortEnabled' is true.
# Otherwise, it is ignored.
internalDebugHttpPort: 30999

# externalDebugHttpPort specifies the node port that should be allocated for the Kubernetes cluster for the operator's
# Java remote debug server.
# This parameter is required if 'remoteDebugNodePortEnabled' is true.
# Otherwise, it is ignored.
externalDebugHttpPort: 30999

# javaLoggingLevel specifies the level of Java logging that should be enabled in the operator.
# Valid values are: "SEVERE", "WARNING", "INFO", "CONFIG", "FINE", "FINER", and "FINEST".
javaLoggingLevel: "INFO"

# elkIntegrationEnabled specifies whether or not ELK integration is enabled.
elkIntegrationEnabled: false

# logStashImage specifies the docker image containing logstash
# TBD - should the logstash image pull policy and image pull secrets be configurable?
logStashImage: "logstash:5"

# elasticSearchHost specifies the hostname of where elasticsearch is running
elasticSearchHost: "elasticsearch.default.svc.cluster.local"

# elasticSearchPort specifies the port number of where elasticsearch is running
elasticSearchPort: 9200
